attrs
autopep8
bandit
black
bump2version
cattrs
click
configurator
cookiecutter
copier
cython
cytoolz
fastapi
flake8
gh
hydra-core
hypothesis
ipykernel
ipywidgets
jinja2
jupyterlab>=4
jupyterlab_rise>=0.40.0
jupytext
lark
matplotlib
mypy
nbconvert
networkx
numba
numpy
openpyxl
pandas
pandoc
papermill
pdoc
platformdirs
pyarrow
pydantic
pydantic-settings
pypandoc
pytest
pytest-cov
pytest-mock
python-dotenv
requests
scikit-build
scikit-learn
scipy
seaborn
sqlalchemy>=2
tomli
tomli-w
tornado>=6.1
tox
typer
uvicorn
watchdog
